*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	
}

.hero{
	height: 100vh;
	background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url(markus-spiske-70Rir5vB96U-unsplash.jpg);
	background-position:center;
	background-size: cover;
	overflow-x: hidden;
	position: relative;
		
		}
	